<div style="margin: 2em" class="container">

	<carousel>

		<ng-container *carouselItem>
			<div class="item">Item 1</div>
		</ng-container>

		<ng-container *carouselItem>
			<div class="item">Item 2</div>
		</ng-container>

		<ng-container *carouselItem>
			<div class="item">Item 3</div>
		</ng-container>

	</carousel>

	<!--<div style="margin-top: 1em;"> 
    <a (click)="carousel.next()" class="btn btn-success">Next</a>
    <a (click)="carousel.prev()" class="btn btn-success">Prev</a>
  </div>-->

	<!--<button (click)="addSlide()">Add Slide</button>-->

</div>